.custom-gallery-container {
  .image-gallery-slide img {
    min-height: 200px;
    min-width: 200px;
    max-height: 300px !important;
    max-width: 100%;
  }

  .fullscreen .image-gallery-slide img {
    min-height: 90vh;
  }

  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    max-width: 450px;
  }
}
